.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}

.photo {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

@media all and (min-width: 768px) {
    .photo {
        width: 14rem;
        height: 14rem;
        margin: 0 1rem ;
    }
}

@media all and (min-width: 1200px) {
    .photo {
        width: 16rem;
        height: 16rem;
        margin: 0 2rem ;
    }
}
