.detail {
    display: flex;
    flex-direction: column;
    background-color: #ffffff54;
    padding: 2rem;
}
@media all and (min-width: 768px) {
    .detail {
        flex-direction: row;
    }
}

.picture {
    width: 19rem;
    margin-right: 2rem;
}

.removeFavorite {
    color: #ed5290;
    cursor: pointer;
    font-size: 2rem;
}

.addFavorite {
    color: grey;
    cursor: pointer;
    font-size: 2rem;
}