.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 0 10px 1px rgba(82, 80, 80, 0.62);
    width: 50rem;
    margin: 0 auto;
}

.picture {
    width: 19rem;
    padding: 1rem 0 1rem 0;
}