
.header {
  background-color: #e7d4cd;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.main {
  margin-top: 4rem;
}